@-webkit-keyframes rotate {
  0% {
    -webkit-transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0); }
  100% {
    -webkit-transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0); }
  100% {
    -webkit-transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg); } }
