@charset "UTF-8";

@import "_commonFunc";
@import "_devCode";
@import "_keyframe";
@import "_webfont";
$backgroundColor : #00020d;
$TextColorMain : #000;
$TextColorSub : #222;

$bluesky-start : rgba(68,226,255,0.18);
$bluesky-mid : rgba(68,226,255,0.1);
$bluesky-end:rgba(198,40,99,0.2);

$pointYello : rgba(247,247,182,1);
$pointPink : #e5306c;
.pcbr{
      display: block;
}
input:focus,
button{
  outline: none;
  -webkit-appearance: none;
}
html {
      -ms-touch-action: manipulation;
      touch-action: manipulation;
}
body,div{
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
textarea,
select{
      -webkit-appearance: none;
}
html, body{
      padding: 0;
      margin: 0;
      // min-height: 100%;
      height: 100%;
      font-family: FiraUL, 'Malgun Gothic',serif;
      font-weight: normal;
      font-size: 13px;
      line-height: 1.3;
}
body{
      background-color: #fff;
      // overflow-x: hidden;
      -webkit-overflow-scrolling : touch;
      &::-webkit-scrollbar-track
      {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: $backgroundColor;
            // border: 1px solid #fff;
      }

      &::-webkit-scrollbar
      {
            width: 5px;
      }

      &::-webkit-scrollbar-thumb
      {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #fff;
      }
}
h1{
      display: none;
}
#vjs{
      // position: absolute;
      // width: 100%;
      // height: 100%;
      // overflow: hidden;
}
#app{
      background-color: #fff;
      width: 100%;
      // height: 100%;
      height: 100vh;
}
//#app
nav#mainnav{
      position: fixed;
      left: 20px;
      top: 20px;
      width: 40px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.1);
      @include border-radius(60px);
      z-index: 1000;
      &.dark{
            background-color: rgba(0,0,0,0.1);
      }
      .btn{
            position: relative;
            width: 100%;
            height: 100%;
            .blackbar{
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  margin-left: -9px;
                  margin-top: -1px;
                  width: 18px;
                  // max-width: 18px;
                  height: 3px;
                  // background-color: #ddcb00;
                  background-color: $pointYello;
                  overflow: hidden;
                  &.eq0{
                        top: 40%;
                  }
                  &.eq1{
                        top: 60%;
                  }
                  >div{
                        // overflow: hidden;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 3px;
                        background-color: $pointPink;
                  }
            }
      }
}
//nav#mainnav
section.forCloud{
      position: relative;
      height: 0;
      background-color: #fff;
      z-index: 15;
      height: 100px;
}
section.contents{
      overflow: hidden;
      position: relative;
      height: 100%;
      h2.sectiontitle{
            position: relative;
            z-index: 100;
            top: 50px;
            font-family: FiraUL;
            // font-family: HYPE;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 2.5rem;
            color: $pointYello;
            text-align: center;
            margin-bottom: 50px;
            letter-spacing: 1.5rem;
            margin-right: -1.5rem;
            line-height: 1;
            >.masktitle{
                  display: block;
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  text-align: center;
                  color: $pointPink;
                  height: 0;
                  max-height: 100%;
                  overflow: hidden;
                  padding-left: 8px;
                  z-index: -1;
            }
      }
      &#intro{
            z-index: 5;
            background: $backgroundColor;
            background: -webkit-linear-gradient($backgroundColor, #000733);
            background: -o-linear-gradient($backgroundColor, #000733);
            background: -moz-linear-gradient($backgroundColor, #000733);
            background: linear-gradient($backgroundColor, #000733);
      }
      &#work{

            h2.sectiontitle{
                  top: 100px;
                  @include transition(top, 1000ms, $easeOutQuint, 0ms);
            }
            .forfixed{
                  position: relative;
                  &.fixed{
                        position: fixed;
                        h2.sectiontitle{
                              top: 50px;
                        }
                        .clouds{
                              bottom: 0;
                              background-position: 0 100%;
                              >.nextBg{
                                    position: absolute;
                                    left: 0;
                                    top: 100%;
                                    width: 100%;
                                    height: 100vh;
                                    background-color: #fff;
                              }
                        }
                  }
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 200;
            }
            z-index: 10;
            // padding-top: 100px;
            // min-height: 150%;
      }

      &#iam{
            z-index: 15;
            // background: #ffffff;
            // height: 3000px;
            $iamColor1 : rgba(255,255,255,1);
            $iamColor2 : #bdd2e7;
            background: $iamColor1;
            background: -webkit-linear-gradient($iamColor1, $iamColor2 20%, rgba(21,27,51,1) 100%);
            background: -o-linear-gradient($iamColor1, $iamColor2 20%, rgba(21,27,51,1) 100%);
            background: -moz-linear-gradient($iamColor1, $iamColor2 20%, rgba(21,27,51,1) 100%);
            background: linear-gradient($iamColor1, $iamColor2 20%, rgba(21,27,51,1) 100%);
            .sky3{
                  @include transition(all, 100ms, $easeInSine, 0ms);
                  @include opacity(0);
                  background: #bdd2e7;
            }
            .forfixed{
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 200;
                  &.fixed{
                        position: fixed;
                        .moon-3{
                              // @include transition_none();
                        }
                        // .line{
                        //       position: absolute;
                        //       z-index: -1;
                        //       left: 0;
                        //       right: 0;
                        //       margin: auto;
                        //       width: 10%;
                        //       min-height:98px;
                        //       max-height: 260px;
                        //       min-width: 98px;
                        //       max-width: 400px;
                        //       overflow: hidden;
                        //       display: none;
                        //       // background-color: #fff;
                        //       @include border-radius(400px 400px 400px 400px)
                        //       // background-image: url('../images/nis_04.jpg');
                        //       // background-repeat: no-repeat;
                        //       // background-position: 50% 100%;
                        //       // @include transition(all, 100ms, $easeOutSine, 0ms);
                        //       >img{
                        //             position: absolute;
                        //             // top: 0;
                        //             bottom: 0;
                        //             left: 0;
                        //             right: 0;
                        //             width: 200%;
                        //             margin-left: -40%;
                        //             // max-width: 400px;
                        //       }
                        // }
                  }
            }
            //.forfixed
            &.step2{
                  .sky3{
                        @include transition(all, 300ms, $easeInOutSine, 0ms);
                        @include opacity(1);
                        // bottom: #bdd2e7;
                        background: #626a98;
                  }
                  .forfixed{
                        &.fixed{
                              .moon-3{
                                    @include transition( box-shadow, 600ms, $easeInOutSine, 0ms);
                                    @include box-shadow(0, 0, 50px, 20px, rgba(135,143,194,0.5));
                              }
                        }
                  }
                  p.label{
                        color: #f1f1f1;
                  }
                  p.content{
                        color: $pointYello;
                  }
                  .overimg{
                        @include opacity(1);
                  }
            }
            &.step3{
                  .sky3{
                        @include transition(all, 600ms, $easeInOutSine, 0ms);
                        @include opacity(1);
                        background: #c5c5e4;
                  }
                  .forfixed{
                        &.fixed{
                              .moon-3{
                                    @include transition( box-shadow, 600ms, $easeInOutSine, 0ms);
                                    @include box-shadow(0, 0, 50px, 20px, rgba(255,255,255,0.5));
                              }
                        }
                  }
                  // p.label{
                  //       color: #5c3cc3;
                  // }
            }
            &.step4{
                  .sky3{
                        @include transition(all, 600ms, $easeInOutSine, 0ms);
                        @include opacity(1);
                        background: #2f3963;
                  }
                  .forfixed{
                        &.fixed{
                              .moon-3{
                                    @include transition( box-shadow, 600ms, $easeInOutSine, 0ms);
                                    @include box-shadow(0, 0, 50px, 20px, rgba(255,255,255,0.1));
                              }
                        }
                  }
                  p.label{
                        color: #f1f1f1;
                  }
                  p.content{
                        color: $pointYello;
                  }
            }
            &.step5{
                  .sky3{
                        @include transition(all, 600ms, $easeInOutSine, 0ms);
                        @include opacity(1);
                        background: #142a53;
                  }
                  .forfixed{
                        &.fixed{
                              .moon-3{
                                    @include transition( box-shadow, 600ms, $easeInOutSine, 0ms);
                                    @include box-shadow(0, 0, 50px, 10px, rgba(225,154,32,0.2));
                                    >img{
                                          &.overhit{
                                                @include opacity(1);
                                          }
                                    }
                              }
                        }
                  }
                  p.label{
                        color: #f1f1f1;
                  }
                  p.content{
                        color: $pointYello;
                  }
            }
            &.step6{
                  .sky3{
                        @include transition(all, 600ms, $easeInOutSine, 0ms);
                        @include opacity(1);
                        background: #10152b;
                  }
                  .forfixed{
                        // &.fixed{
                              .moon-3{
                                    @include transition( box-shadow, 600ms, $easeInOutSine, 0ms);
                                    @include box-shadow(0, 0, 80px, 10px, rgba(225,154,32,0.3));
                                    >img{
                                          // @include opacity(0);
                                          &.overhit{
                                                @include opacity(1);
                                          }
                                    }
                              }
                        // }
                  }
                  //forfixed
            }
            //step6

            h2.sectiontitle{
                  top: 100px;
                  color: #201975;
                  @include transition(top, 1000ms, $easeOutQuint, 0ms);
            }
            &.mid{
                  h2.sectiontitle{
                        color: #f7f7b6;
                  }
            }

      }

      &#contact{
            // padding-top: 100px;
            // background-color: rgba(0,0,0,0.2);
            background-color: #10152b;
            z-index: 15;
            color: #fff;
      }



}
//section.contents

#end{
      // height: 100px;
}
@import "_alayer";
@import "_width800";
@import "_set";
